# Server config
PORT=8080

# External services
POLICE_STATION_LOCATION_URL=https://sentry-tourist-public-assets.s3.ap-south-1.amazonaws.com/Police+Station+Location.geojson
POLICE_STATION_BOUNDARY_URL=https://sentry-tourist-public-assets.s3.ap-south-1.amazonaws.com/Police+Station+Boundary.geojson
AWS_RISK_BASE_URL=https://p4ibpzz2p5.execute-api.ap-south-1.amazonaws.com/prod
# Redis (for caching and Pub/Sub if needed)
REDIS_URL=redis://localhost:6379

# Database config (if websocket server connects directly to db)
DATABASE_URL=postgresql://user:password@localhost:5432/sentry

# JWT secret for auth verification
JWT_SECRET=super_secret_jwt_key_here
